#images{
    height: 30vh;
    width: 30vw;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.accordion-header {
  display: none;
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
}